<p id="notice"><%= notice %></p>

<h1>Turbo-Frame Target</h1>

<div>Time: <%= Time.new %></div>
<br>
<br>

<%= link_to 'Posts', '/posts' %>
<br>
<br>
<%= link_to 'Back via GET Redirect', '/posts/new' %>
<br>
<br>
<%= button_to 'Back via POST Redirect', '/posts' %>


