<p id="notice"><%= notice %></p>

<h1>Turbo-Frame Target</h1>

<div>Time: <%= Time.new %></div>
<br>
<turbo-frame id="posts">
  Time: <%= Time.new %> (turbo-frame)
</turbo-frame>

<br>
<br>

<%= link_to 'Back', '/posts' %>
<br>
<%= link_to 'Back via Redirect', '/posts/new' %>

