<p id="notice"><%= notice %></p>

<h1>Next Page</h1>

<div>Time: <%= Time.new %></div>
<br>
<br>

<%= link_to 'Start', '/posts' %>
<br>
<br>
<%= link_to 'Start via GET Redirect', '/posts/new' %>
<br>
<br>
<%= button_to 'Start via GET Redirect', '/posts/new', method: 'get' %>
<br>
<br>
<%= button_to 'Start via POST Redirect', '/posts' %>
<br>
<br>
<%= button_to 'Start via PUT Redirect', '/posts/1', method: 'put' %>
<br>
<br>
<%= button_to 'Start via DELETE Redirect', '/posts/1', method: 'delete' %>


